<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色列表</title>
    <script th:src="@{/plugin/jquery/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/bootstrap-button/bootstrap-buttons.css}">
    <link rel="stylesheet" th:href="@{/common/css/base.css}">
    <link rel="stylesheet" th:href="@{/common/css/app-blue.css}">
    <script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
    <!--这里引入bootstrap-table 依赖的插件，bootstrap-table.js已经合并在vendor.js中-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/plugin/bootstrap-table/bootstrap-table.min.css}">
    <script th:src="@{/plugin/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/plugin/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/plugin/layui/layer/layer.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            // 获得权限
            var auth = top.getAuth(top.authData,location.href);

            // 释放权限
            var toolBtn = $($("#toolbar").children()[0]);
            top.listSort(auth);
            for(var i = 0;i<auth.length;i++){
                if("增加" == auth[i].name){
                    var btn = $($(".authBtn").find("[data-id='add']").prop("outerHTML"));
                    btn.attr("id",btn.data("id")).css("margin-right","5px");
                    toolBtn.before(btn);
                }else if("修改" == auth[i].name){
                    var btn = $($(".authBtn").find("[data-id='edit']").prop("outerHTML"));
                    btn.attr("id",btn.data("id")).css("margin-right","5px");
                    toolBtn.before(btn);
                }else if("删除" == auth[i].name){
                    var btn = $($(".authBtn").find("[data-id='remove']").prop("outerHTML"));
                    btn.attr("id",btn.data("id")).css("margin-right","5px");
                    toolBtn.before(btn);
                }else if("分配菜单" == auth[i].name){
                    var btn = $($(".authBtn").find("[data-id='distMenu']").prop("outerHTML"));
                    btn.attr("id",btn.data("id")).css("margin-right","5px");
                    toolBtn.before(btn);
                }
            }

            $('#table').bootstrapTable({
                //请求方法
                method: 'post',
                //类型json
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                //显示检索按钮
                showSearch: false,
                //显示刷新按钮
                showRefresh: false,
                //显示切换手机试图按钮
                showToggle: false,
                //显示 内容列下拉框
                showColumns: false,
                //显示到处按钮
                showExport: false,
                //显示切换分页按钮
                showPaginationSwitch: false,
                //最低显示2行
                minimumCountColumns: 2,
                //是否显示行间隔色
                striped: true,
                //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                cache: false,
                //是否显示分页（*）
                pagination: true,
                //排序方式
                sortOrder: "asc",
                //初始化加载第一页，默认第一页
                pageNumber:1,
                //每页的记录行数（*）
                pageSize: 5,
                //可供选择的每页的行数（*）
                pageList: [5, 15, 50, 100],
                //这个接口需要处理bootstrap table传递的固定参数,并返回特定格式的json数据
                url: "/a/role/data",
                //默认值为 'limit',传给服务端的参数为：limit, offset, search, sort, order Else
                //queryParamsType:'',
                ////查询参数,每次调用是会带上这个参数，可自定义
                queryParams : function(params) {
                    var searchParam = getFormData($("#searchForm"));
                    searchParam.pageNo = params.limit === undefined? "1" :params.offset/params.limit+1;
                    searchParam.pageSize = params.limit === undefined? -1 : params.limit;
                    searchParam.orderBy = params.sort === undefined? "update_date DESC" : params.sort+ " "+  params.order;
                    return searchParam;
                },
                //分页方式：client客户端分页，server服务端分页（*）
                sidePagination: "server",
                contextMenuTrigger:"right",//pc端 按右键弹出菜单
                contextMenuTriggerMobile:"press",//手机端 弹出菜单，click：单击， press：长按。
                contextMenu: '#context-menu',
                onContextMenuItem: function(row, $el){

                },

                onClickRow: function(row, $el){
                },
                onShowSearch: function () {
                    $("#search-collapse").slideToggle();
                },
                columns: [
                    {
                        checkbox: true
                    }
                    ,{
                        field: 'name',
                        title: '角色名称',
                        sortable: false,
                        sortName: 'name',
                        formatter:function(value, row, index){
                            return '<a  href="#" onclick="edit(\''+row.id+'\')">'+value+'</a>'
                        }
                    }
                    ,{
                        field: 'enname',
                        title: '英文名称',
                        sortable: false,
                        sortName: 'enname'
                    }
                    ,{
                        field: 'isSys',
                        title: '是否系统数据',
                        sortable: true,
                        sortName: 'isSys',
                        formatter:function(value, row , index){
                            return value=="0" ? '否':'是';
                        }
                    }
                    ,{
                        field: 'isUseable',
                        title: '状态',
                        sortable: true,
                        sortName: 'isUseable',
                        formatter:function(value, row , index){
                            return value=="0" ? '<font color="red">禁用</font>':'<font color="green">正常</font>';
                        }

                    }
                    ,{
                        field: 'createBy',
                        title: '创建人',
                        sortable: false,
                        sortName: 'createBy',
                        cellStyle:{
                            css:{
                                "width":"140px",
                                "min-width":"140px",
                                "max-width":"140px"
                            }
                        }

                    }
                    ,{
                        field: 'createDate',
                        title: '创建日期',
                        sortable: false,
                        sortName: 'createDate',
                        cellStyle:{
                            css:{
                                "width":"170px",
                                "min-width":"170px",
                                "max-width":"170px"
                            }
                        }

                    }
                    ,{
                        field: 'updateBy',
                        title: '修改人',
                        sortable: false,
                        sortName: 'updateBy.name',
                        cellStyle:{
                            css:{
                                "width":"140px",
                                "min-width":"140px",
                                "max-width":"140px"
                            }
                        }

                    },{
                        field: 'updateDate',
                        title: '修改日期',
                        sortable: false,
                        sortName: 'updateDate',
                        cellStyle:{
                            css:{
                                "width":"170px",
                                "min-width":"170px",
                                "max-width":"170px"
                            }
                        }

                    }
                    ,{
                        field: 'remarks',
                        title: '备注',
                        sortable: false,
                        sortName: 'remarks'

                    }

                ]

            });


            if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){//如果是移动端
                $('#table').bootstrapTable("toggleView");
            }

            $('#table').on('check.bs.table uncheck.bs.table load-success.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
                $('#remove').prop('disabled', ! $('#table').bootstrapTable('getSelections').length);
                $('#edit,#distMenu').prop('disabled', $('#table').bootstrapTable('getSelections').length!=1);
            });

            $("#search").click("click", function() {// 绑定查询按扭
                refresh();
            });

            $("#reset").click("click", function() {// 绑定查询按扭
                $("#searchForm  input").val("");
                $("#searchForm  select").val("");
                refresh();
            });

        });

        function getSelections() {
            return $.map($("#table").bootstrapTable('getSelections'), function (row) {
                return row
            });
        }

        //删除
        function delAll(id){
            var params = [];
            if(id == undefined){
                var rows = getSelections();
                for(var i = 0;i<rows.length;i++){
                    var map ={
                        id:rows[i].id
                    };
                    params.push(map);
                }
            }else{
                var map ={
                    id:id
                };
                params.push(map);
            }
            top.layer.confirm("是否删除该角色",
                {icon: 3, title:'系统提示', btn: ['是','否'] //按钮
                }, function(index){
                    var indexN = top.layer.msg("正在删除...", {
                        icon: 16
                        ,shade: 0.01,
                        time:999999999//设置超长时间
                    });

                    $.ajax({
                        headers:{
                            "Content-Type":"application/json"
                        },
                        url:"/a/role/delAll",
                        type:"post",
                        data:JSON.stringify(params),
                        success:function(data){
                            top.layer.close(indexN);
                            if(data.success){
                                top.layer.alert(data.msg);
                                refresh();
                            }else{
                                top.layer.alert(data.msg);
                            }
                            top.layer.close(index);
                        }
                    });
                });
        }

        //修改
        function edit(id){
            if(id == undefined){
                id = getSelections()[0].id;
            }
            var width = "800px",height="500px";
            var auto = true;//是否使用响应式，使用百分比时，应设置为false
            if(width.indexOf("%")>=0 || height.indexOf("%")>=0 ){
                auto =false;
            }
            top.layer.open({
                type: 2,
                area: [width, height],
                title: "编辑",
                auto:auto,
                maxmin: true, //开启最大化最小化按钮
                content: "/a/role/form?id="+id ,
                btn: ['确定', '关闭'],
                yes: function(index, layero){
                    var iframeWin = layero.find('iframe')[0]; //得到弹出的窗口对象，执行窗口内iframe页的方法：iframeWin.method();

                    var flag  = iframeWin.contentWindow.validate();

                    if(flag == true) {

                        var indexN = top.layer.msg("正在提交...", {
                            icon: 16
                            , shade: 0.01,
                            time: 999999999//设置超长时间
                        });

                        $.ajax({
                            url: "/a/role/save",
                            type: "post",
                            data: iframeWin.contentWindow.getValue(),
                            success: function (data) {
                                top.layer.close(indexN);
                                if (data.success) {
                                    top.layer.alert(data.msg);
                                    refresh();
                                } else {
                                    top.layer.alert(data.msg);
                                }
                                top.layer.close(index);
                            }
                        });
                    }
                },
                cancel: function(index){
                }
            });
        }


        //添加
        function add(){

            var width = "800px",height="500px";
            var auto = true;//是否使用响应式，使用百分比时，应设置为false
            if(width.indexOf("%")>=0 || height.indexOf("%")>=0 ){
                auto =false;
            }
            top.layer.open({
                type: 2,
                area: [width, height],
                title: "添加",
                auto:auto,
                maxmin: true, //开启最大化最小化按钮
                content: "/a/role/form" ,
                btn: ['确定', '关闭'],
                yes: function(index, layero){
                    var iframeWin = layero.find('iframe')[0]; //得到弹出的窗口对象，执行窗口内iframe页的方法：iframeWin.method();



                    var val = iframeWin.contentWindow.getValueJson();
                    if(val.password != val.valiPassword){
                        top.layer.alert("密码不一致");
                        return false;
                    }

                    var flag  = iframeWin.contentWindow.validate();

                    if(flag == true) {

                        var indexN = top.layer.msg("正在提交...", {
                            icon: 16
                            , shade: 0.01,
                            time: 999999999//设置超长时间
                        });

                        $.ajax({
                            url: "/a/role/save",
                            type: "post",
                            data: iframeWin.contentWindow.getValue(),
                            success: function (data) {
                                top.layer.close(indexN);
                                if (data.success) {
                                    top.layer.alert(data.msg);
                                    refresh();
                                } else {
                                    top.layer.alert(data.msg);
                                }
                                top.layer.close(index);
                            }
                        });
                    }
                },
                cancel: function(index){
                }
            });
        }

        //刷新列表
        function refresh(){
            $('#table').bootstrapTable('refresh');
        }

        /**
         * 根据form表单的获取表单下所有可提交的表单数据，封装成数组对象
         */
        function getFormData(obj){
            var data = {};
            var results = $(obj).serializeArray();
            $.each(results,function(index,item){
                //文本表单的值不为空才处理
                if(item.value && $.trim(item.value)!=""){
                    if(!data[item.name]){
                        data[item.name]=item.value;
                    }else{
                        //name属性相同的表单，值以英文,拼接
                        data[item.name]=data[item.name]+','+item.value;
                    }
                }
            });
            return data;
        }


        // 分配菜单
        function distMenu(id){
            if(id == undefined){
                id = getSelections()[0].id;
            }

            var title = "选择菜单";
            var url = "/a/menu/treeDataByRoleForm";
            var checked = true;

            // 正常打开
            top.layer.open({
                type: 2,
                area: ['350px', '520px'],
                title:title,
                content: url+"?selectIdFlag="+id,
                btn: ['确定', '关闭']
                ,yes: function(index, layero){ //或者使用btn1

                    var tree = layero.find("iframe")[0].contentWindow.tree;//h.find("iframe").contents();
                    var ids = [], names = [], nodes = [];
                    if (checked){
                        nodes = tree.get_checked(true);
                    }else{
                        nodes = tree.get_selected(true);
                    }

                    for(var i=0; i<nodes.length; i++) {

                        // 菜单不过滤父节点
                        /*if (nodes[i].original.isParent){
                            continue; // 如果为复选框选择，则过滤掉父节点
                        }

                        if (nodes[i].original.level == 0){
                            top.layer.msg("不能选择根节点（"+nodes[i].text+"）请重新选择。", {icon: 0});
                            return false;
                        }

                        if (nodes[i].original.isParent){
                            top.layer.msg("不能选择父节点（"+nodes[i].text+"）请重新选择。", {icon: 0});
                            return false;
                        }*/

                        ids.push(nodes[i].id);
                        names.push(nodes[i].text);//<c:if test="${!checked}">

                        if (!checked){
                            break; // 如果为非复选框选择，则返回第一个选择  </c:if>
                        }
                    }


                    var indexN = top.layer.msg("正在提交...", {
                        icon: 16
                        , shade: 0.01,
                        time: 999999999//设置超长时间
                    });

                    $.ajax({
                        url: "/a/role/saveRoleMenu",
                        type: "post",
                        data: {
                            id:id,
                            menuIds:ids.join(",").replace(/u_/ig,"")
                        },
                        success: function (data) {
                            top.layer.close(indexN);
                            if (data.success) {
                                top.layer.alert(data.msg);
                                refresh();
                            } else {
                                top.layer.alert(data.msg);
                            }
                            top.layer.close(index);
                        }
                    });
                    //$("#"+paramsId).val(ids.join(",").replace(/u_/ig,""));


                    top.layer.close(index);
                },
                cancel: function(index){ //或者使用btn2
                    //按钮【按钮二】的回调
                }
            });
        }

        // 菜单树
        $(document).ready(function(){

            var params = "role";
            var paramsId = "roleIds";
            var paramsName = "roleNames";
            var title = "选择角色";
            var url = "/a/role/treeDataForm";
            var checked = true;







        })
    </script>

</head>
<body>
    <div class="authBtn" style="display: none">
        <button data-id="add" class="btn btn-primary btn-xs" onclick="add()">
            新建
        </button>
        <button data-id="edit" class="btn btn-success btn-xs" disabled onclick="edit()">
            修改
        </button>

        <button data-id="remove" class="btn btn-danger btn-xs" disabled onclick="delAll()">
            删除
        </button>
        <button data-id="distMenu" class="btn btn-info btn-xs" disabled  onclick="distMenu()">
            分配菜单
        </button>
    </div>
    <div class="wrapper wrapper-content">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">角色列表</h3>
            </div>
            <div class="panel-body">
                <!-- 工具栏 -->
                <div id="toolbar">


                    <button id="refresh" class="btn btn-success btn-xs"  onclick="refresh()">
                        刷新
                    </button>



                    <a class="accordion-toggle btn btn-default btn-xs" data-toggle="collapse"
                       href="#search-collapse">
                        查询条件
                    </a>

                </div>

                <!-- 搜索 -->
                <div id="search-collapse" class="collapse">
                    <div class="accordion-inner">
                        <form id="searchForm" class="form form-horizontal well clearfix">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <label class="label-item single-overflow pull-left" title="Code：">角色名称：</label>
                                <input type="text" name="name" id="name" maxlength="64" class=" form-control"/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <label class="label-item single-overflow pull-left" title="Code：">英文名称：</label>
                                <input type="text" name="enname" id="enname" maxlength="64" class=" form-control"/>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div style="margin-top:26px">
                                    <a  id="search" class="btn btn-primary btn-rounded  btn-bordered btn-xs">查询</a>&nbsp;
                                    <a  id="reset" class="btn btn-primary btn-rounded  btn-bordered btn-xs" >重置</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <!-- 表格 -->
                <table id="table"   data-toolbar="#toolbar"></table>
            </div>
        </div>
    </div>
</body>
</html>